<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="course">
      <h2 data-cy="courseDetailsHeading"><span>Course</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ course.id }}</span>
        </dd>
        <dt><span>Course Name</span></dt>
        <dd>
          <span>{{ course.courseName }}</span>
        </dd>
        <dt><span>Pointer</span></dt>
        <dd>
          <span>{{ course.pointer }}</span>
        </dd>
        <dt><span>Jour</span></dt>
        <dd>
          <span>{{ course.jour | formatMediumDate }}</span>
        </dd>
        <dt><span>Volume Horaire</span></dt>
        <dd>
          <span>{{ course.volumeHoraire }}</span>
        </dd>
        <dt><span>Salle</span></dt>
        <dd>
          <span>{{ course.salle }}</span>
        </dd>
        <dt><span>Heure De Debut</span></dt>
        <dd>
          <span>{{ course.heureDeDebut }}</span>
        </dd>
        <dt><span>Heure De Fin</span></dt>
        <dd>
          <span>{{ course.heureDeFin }}</span>
        </dd>
        <dt><span>Libelle Jour</span></dt>
        <dd>
          <span>{{ course.libelleJour }}</span>
        </dd>
        <dt><span>Module</span></dt>
        <dd>
          <div *ngIf="course.module">
            <a [routerLink]="['/module', course.module?.id, 'view']">{{ course.module?.moduleName }}</a>
          </div>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ course.user?.login }}</span>
        </dd>
        <dt><span>Classe</span></dt>
        <dd>
          <div *ngIf="course.classe">
            <a [routerLink]="['/class-room', course.classe?.id, 'view']">{{ course.classe?.classroomName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/course', course.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
