<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-course-heading" data-cy="CourseCreateUpdateHeading">Create or edit a Course</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_courseName">Course Name</label>
          <input
            type="text"
            class="form-control"
            name="courseName"
            id="field_courseName"
            data-cy="courseName"
            formControlName="courseName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_totalHour">Total Hour</label>
          <div class="input-group">
            <input
              id="field_totalHour"
              data-cy="totalHour"
              type="text"
              class="form-control"
              name="totalHour"
              ngbDatepicker
              #totalHourDp="ngbDatepicker"
              formControlName="totalHour"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="totalHourDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_beginHourse">Begin Hourse</label>
          <div class="input-group">
            <input
              id="field_beginHourse"
              data-cy="beginHourse"
              type="text"
              class="form-control"
              name="beginHourse"
              ngbDatepicker
              #beginHourseDp="ngbDatepicker"
              formControlName="beginHourse"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="beginHourseDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_endHour">End Hour</label>
          <div class="input-group">
            <input
              id="field_endHour"
              data-cy="endHour"
              type="text"
              class="form-control"
              name="endHour"
              ngbDatepicker
              #endHourDp="ngbDatepicker"
              formControlName="endHour"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="endHourDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_module">Module</label>
          <select class="form-control" id="field_module" data-cy="module" name="module" formControlName="module">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="moduleOption.id === editForm.get('module')!.value?.id ? editForm.get('module')!.value : moduleOption"
              *ngFor="let moduleOption of modulesSharedCollection; trackBy: trackModuleById"
            >
              {{ moduleOption.moduleName }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
